<configuration>
  <jmxConfigurator />

  <appender name="LOG_FILE" class="ch.qos.logback.core.FileAppender">
    <file>${GW_WORK_DIR:-.}/log/gateway.log</file>

    <param name="Append" value="false" />

    <encoder>
      <pattern>%d %-5level %logger{50} - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="TRACE_FILE" class="ch.qos.logback.core.FileAppender">
    <file>${GW_WORK_DIR:-.}/log/gatewaytrace.log</file>

    <param name="Append" value="false" />

    <encoder>
      <pattern>%d %-5level %logger{0} - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="io.electrum.gateway.traceLog" level="TRACE" additivity="false">
    <appender-ref ref="TRACE_FILE" />
  </logger>

  <logger name="io.electrum.gateway.traceLog.node.training" level="WARN" additivity="false">
    <appender-ref ref="TRACE_FILE" />
  </logger>

  <logger name="io.electrum" level="DEBUG" additivity="false">
    <appender-ref ref="LOG_FILE" />
  </logger>

  <root level="INFO">
    <appender-ref ref="LOG_FILE" />
  </root>

</configuration>
